# Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the dataset

In [4]:
dataset1 = pd.read_csv('calories.csv')
dataset2 = pd.read_csv('exercise.csv')
df = pd.concat([dataset2, dataset1['Calories']], axis=1)
df.head()

,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,14733363,male,68,190.0,94.0,29.0,105.0,40.8,231.0
1,14861698,female,20,166.0,60.0,14.0,94.0,40.3,66.0
2,11179863,male,69,179.0,79.0,5.0,88.0,38.7,26.0
3,16180408,female,34,179.0,71.0,13.0,100.0,40.5,71.0
4,17771927,female,27,154.0,58.0,10.0,81.0,39.8,35.0

In [5]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])

In [6]:
X = df.drop(columns=['User_ID','Calories'], axis=1).values
y = df['Calories'].values

# Splitting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Training XGBoost on the Training set

In [ ]:
from xgboost import XGBRegressor
regressor = XGBRegressor()
regressor.fit(X_train, y_train)

# Predicting the Test Result

In [8]:
y_pred = regressor.predict(X_test)
print(np.concatenate((y_test.reshape(len(y_test),1), y_pred.reshape(len(y_pred),1)),axis=1))

[[1426.1436     2182.59277344]
 [1201.769      1753.48815918]
 [1836.2764     2606.68847656]
 ...
 [2885.5772     5106.84716797]
 [ 218.3824       62.38205338]
 [5478.2024     6886.97412109]]

# Evaluating the model performance

In [9]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.4830264841338656